* {
    padding: 0%;
    margin: 0.3125rem;
    font-family: 'Open Sans', sans-serif;
    color: #63677b;
}

input:not([type]), input[type="text"]  {
    border: 0.0313rem #ebebeb solid;
    height: 1.875rem;
    width: 15.625rem;
    border-radius: 0.1875rem;
}
.error{
    border: 0.0313rem red solid !important;
}

input[type=checkbox] {
    border: 0.0313rem #ebebeb solid;
    height: 0.9375rem;
    width: 0.9375rem;
    border-radius: 0.1875rem;
}

p {
    font-style: italic;
}

input[type=button] {
    background-color: #3a3333;
    color: white;
    border: none;
    border-radius: 0.1875rem;
    padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
}

input[type=submit] {
    background-color: #3a3333;
    color: white;
    border: none;
    border-radius: 0.1875rem;
    padding: 0.9375rem 1.25rem 0.9375rem 1.25rem;
}

.ttl-section {
    margin-bottom: 2.5rem;
    background-color: #182f6a;
    color: white;
    padding: 1.25rem;
    font-weight: 500;
    border-radius: 0.1875rem;
}

.ttl-ack {
    font-weight: bold;
    font-style: normal;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.name-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid-data {
    display: grid;
    grid-template-columns: repeat(2,15.75rem);
    grid-template-rows: repeat(2, 5.625rem);
    gap: 1.25rem;
}
.submit-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5rem;
}
.required:after {
    content:" *";
    color: red;
}

.checkbox{
    width: 31.25rem;
}

